@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Georgia', serif;
  background: url( "../IMG/GRADIENT BG.jpg") no-repeat center center/cover;
  color: #000;
  min-height: 100vh;
}

/* NAVBAR */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30 60px;
  background-color:#f9dede;
}

header nav .logo img {
  height: 60px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 35px;
}

header nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

header nav a.active {
  background-color: #f5eee1;
  border-radius: 20px;
	text-decoration: none; /* Removes underline */
}

header nav a:hover {
  color: #ff69b4;
}

/* CONTACT CONTAINER */
.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 120px 50px 50px 50px;
  gap: 50px;
}

/* TITLE */
.title {
  font-size: 4rem;
  color: #e91e63;
  animation: fadeSlide 2s ease;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: -30px; /* move up */
	text-decoration: none; /* Removes underline */
}

.title span {
  font-style: italic;
  color: #e91e63;
}

@keyframes fadeSlide {
  0% {opacity: 0; transform: translateY(-150px);}
  100% {opacity: 1; transform: translateY(0);}
}

.contact-left h3 {
  font-size: 1.3rem;
  margin: 30px 0;
  color: #e91e63;
}

/* SOCIAL ICONS */
.social-icons {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.social {
  text-align: center;
}

.social img {
  width: 200px;
  transition: all 0.3s ease;
}

.social:hover img {
  transform: scale(1.05);
  box-shadow: 0 0 20px #e91e63;
}

.social div {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #e91e63;
}

.social p {
  margin-top: 5px;
  color: #000;
  font-size: 1rem;
}

/* FEEDBACK FORM */
.contact-right {
  background: #ffe6f0; /* light pink */
  padding: 30px;
  border-radius: 10px;
  width: 50%;
}

.contact-right p {
  margin-bottom: 20px; /* more space below subtitle */
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 0;
  align-items: center; /* center form items */
}

form input, form textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  max-width: 800px;
}

form textarea {
  min-height: 150px;
}

form button {
  background: #000;
  color: #fff;
  border: none;
  padding: 15px 40px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #e91e63;
  box-shadow: 0 0 15px #e91e63;
}
